*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #d5ffe3;
    font-family: Georgia;
}
frame{
    background-color: #d5ffe3;
}
header{
    background-color: #99c9a9;
}
nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
nav h3{
    text-align: center;
    border-top: 1px solid #000;
    margin: 0;
    padding: 10px 0 0;
}
nav a{
    font-weight: bold;
    color: #042c04;
    text-decoration: none;
    padding: 10px 15px;
    text-align: center;
}
nav a:hover{
    background-color: #bae7c9;
    border-radius: 50%;
}
h1{
    text-align: center;
    margin: 0 auto;
    padding: 0.7em 0;
    letter-spacing: 3px;
}