.task1 .parent {
  position: relative;
  height: 270px;
}
.task1 .parent #move {
  position: absolute;
  padding: 0.3em;
  background-color: #42753d;
  color: antiquewhite;
}

.task2 .container {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border: 2px solid #023302;
  border-radius: 5px;
}
.task2 .container .ball {
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: green;
}

.task3 #image {
  display: block;
  margin: 0 auto;
  height: 300px;
}
